#
# SSLeay example configuration file.
# This is mostly being used for generation of certificate requests.
#
# create RSA certs - CA

RANDFILE              = ./.rnd

####################################################################
[ req ]
distinguished_name    = req_distinguished_name
default_md = sha256
x509_extensions = v3_ca

[ req_distinguished_name ]
countryName                   = Country Name (2 letter code)
countryName_value             = US
organizationName              = Organization Name (eg, company)
organizationName_value        = Test CA
commonName                    = Common Name (eg, YOUR name)
commonName_value              = Test CA

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always
basicConstraints = CA:true,pathlen:1
keyUsage = cRLSign, keyCertSign
authorityInfoAccess = OCSP;URI:http://ocsp.example.com:8080/
